body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#game-board {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 20px auto;
    background-color: #5f3e3e;
    background-image: url("abuu.jpg");
    border: 2px solid #a85c5c;
}

#farmer {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url('a.jpeg');
    background-repeat: no-repeat;
}

.nutrient {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.nutrient.nitrogen {
    background-color: #8fc68f; /* Green */
}

.nutrient.phosphorus {
    background-color: #00e549; /* Yellow */
}

.nutrient.potassium {
    background-color: #FFA500; /* Orange */
}

.obstacle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('qqq.jpg');
    background-repeat: no-repeat;

}